<div class="row row-centered">
  <div class="col-sm-12 col-centered">
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading panel-custom-green">
          Hotels
        </div>
        <div class="panel-body">
          <p><a href="http://www.nh-hotels.com/hotel/nh-la-coruna-atlantico?campid=8435708&ct=287135536&gclid=CjwKEAiA4dPCBRCM4dqhlv2R1R8SJABom9pHt8zVrycmBssjRlNuW7HPeNz-coOtJp02ngkmphEwIRoCkALw_wcB&dclid=CNnq_sK7_NACFdQENwod7yABnw">NH La Coruña Atlantico</a></p>
          <p>4-star accommodations that are centrally located for transportation and sightseeing.</p>
          <br>
          <p><a href="http://www.hesperia.com/hotel/hesperia-finisterre?campid=8435708&ct=287135536&gclid=CjwKEAiA4dPCBRCM4dqhlv2R1R8SJABom9pHRHqBnt2Gox6x9DcQrYgSppJ-a9-WbEsVJuo9GYB9HhoCqeXw_wcB&dclid=CKLD0Le7_NACFZILNwod_loL_w">Hesperia Finisterre</a></p>
          <p>5-star accommodations in the old city.  Great location for sightseeing.  Adjoining sports club with pools.</p>
          <br>
          <p><a href="https://www.melia.com/en/hotels/spain/a-coruna/melia-maria-pita/index.html?mkwid=sAKp4xU4m_dc&pcrid=140885092979&pkw=+melia%20+maria%20+pita&pmt=b&SI=&gclid=CjwKEAiA4dPCBRCM4dqhlv2R1R8SJABom9pHO46v5psjv3uowRb0it424p4bG8gamOnn1WxGqUSljxoCqYjw_wcB&cvosrc=ppc.google.%2bmelia%20%2bmaria%20%2bpita&matchtype=b&cvo_crid=140885092979#ectrans=1">Melia Maria Pita</a></p>
          <p>4-star accommodations located next to Riazor beach.  Further from transportation options but still near sightseeing.</p>
          <br>
          <p><a href="http://en.hotelbluecoruna.com/">Sercotel Blue Coruña Hotel</a></p>
          <p>4-star accommodations on south edge of the old city.</p>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading panel-custom-green">
          AirBNB
        </div>
        <div class="panel-body">
          <p>You can rent an AirBNB in the old city for very reasonable prices.  I recommend staying as close to the Plaza Maria Pita as you can for ease of access to sights and transportation.  Hostels are also available throughout the city.</p>
        </div>
      </div>
    </div>
  </div>
</div>
