<div class="row row-centered">
  <div class="col-sm-8 col-centered">
    <img src="/images/pazo-grid.jpg" alt="" class="img-fluid" style="height: auto; width: 100%;">
  </div>
</div>
<br>
<div class="row row-centered">
  <div class="col-sm-12 col-centered">
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading panel-custom-green">
          Ceremony &amp Reception
        </div>
        <div class="panel-body">
          <p>Friday, September 1st, 2017</p>
          <p>6:30pm to 4:00am</p>
          <p>Pazo de San Fernando</p>
          <p>Rúa San Fernando, 10</p>
          <p>Culleredo, A Coruña</p>
          <p>Spain, 15189</p>
          <p>+34 981 21 75 95</p>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading panel-custom-green">
          <a href="https://www.bodas.net/fincas/pazo-san-fernando--e12520">Pazo de San Fernando</a>
        </div>
        <div class="panel-body">
          <p>Pazo de San Fernando is located near La Coruña Airport in the town of Culleredo.  Bus transportation services will be provided from the NH La Coruña Atlantico Hotel on Avenida do Porto.  Taxi service is also available from various points including Avenida do Porto next to Plaza Maria Pita or Praza Ourense.  La Coruña is approximately 15 minutes from Pazo de San Fernando. Valet parking will be available.</p>
          <br>
          <div class="text-center embed-responsive embed-responsive-4by3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2903.9521004189646!2d-8.381455784797081!3d43.2943247791352!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd2e648a3243ba29%3A0x594c4d1b314ec315!2sPazo+San+Fernando!5e0!3m2!1sen!2sus!4v1483053324182" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
