<div class="row row-centered">
  <div class="col-sm-8 col-centered">
    <img src="/images/pazo-grid.jpg" alt="" class="img-fluid" style="height: auto; width: 100%;">
  </div>
</div>
<br>
<div class="row row-centered">
  <div class="col-sm-12 col-centered">
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading panel-custom-green">
          Ceremony &amp Reception
        </div>
        <div class="panel-body">
          <div class="container">
            <div class="row">
              <div class="col-xs-6">
                <p>Friday, September 1st, 2017</p>
                <p>Pazo de San Fernando</p>
                <p>Rúa San Fernando, 10</p>
                <p>Culleredo, A Coruña</p>
                <p>Spain, 15189</p>
                <p>+34 981 21 75 95</p>
              </div>
              <div class="col-xs-6">
                <p>Bus Pickups: 6:00pm</p>
                <p>Ceremony: 6:30pm</p>
                <p>Cocktails: 7:00pm</p>
                <p>Dinner: 9:00pm</p>
                <p>Dancing: 12:00am to 3:30am</p>
                <p>Bus Dropoffs: 1:00am and 3:30am</p>
              </div>
            </div>
          </div>
          <br>
          <a class="btn btn-primary btn-lg rsvp" href="/rsvp" role="button">RSVP</a>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading panel-custom-green">
          <a href="https://www.bodas.net/fincas/pazo-san-fernando--e12520">Pazo de San Fernando</a>
        </div>
        <div class="panel-body">
          <p>Pazo de San Fernando is located near La Coruña Airport in the town of Culleredo.  Bus transportation services will be provided from the NH La Coruña Atlantico Hotel and Hesperia Finisterre at 6:00pm.  Bus dropoffs will leave Pazo de San Fernando at 1:00am and 3:30am.  Taxi service is also available from various points including Avenida do Porto next to Plaza Maria Pita or Praza Ourense.  La Coruña is approximately 15 minutes from Pazo de San Fernando. Valet parking will be available.</p>
          <br>
          <div class="text-center embed-responsive embed-responsive-4by3">
            <iframe src="https://www.google.com/maps/d/embed?mid=1sHlgQAKMEMDT_CG8Ra6g3HSrLaE" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
