<div class="row row-centered">
  <div class="col-sm-12 col-centered">
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading panel-custom-green">
          Restaurants
        </div>
        <div class="panel-body">
          <p><a href="http://www.turismocoruna.com/web/corTurServer.php?idSecweb=97&idInfo=31&idCategoria=50"><b>Trip Advisor</b></a></p>
          <p>Some of the best restaurants can be found on Rua Olmos and Rua Estrella, which are found running parallel to the port near the Gardens of Mendez Nunez.  There are also many restaurants within the Plaza Maria Pita.</p>
          <p>Galicia is known for its excellent seafood and you will see this reflected in its menus.  Other traditional dishes include Tortilla Espanola, Pimientos de Padron, Patatas Bravas, Empanadas, and sliced ham and cheese.  A popular dessert, or breakfast, is churros con chocolate. La Postreria is an enjoyable modern dessert establishment.</p>
          <p>I do not recommend eating non-Spanish cuisine in La Coruña as it tends to be very disappointing (unless you like school cafeteria style pizza).</p>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading panel-custom-green">
          Bars
        </div>
        <div class="panel-body">
          <p><a href="http://www.turismocoruna.com/web/corTurServer.php?idSecweb=97&idInfo=30&idCategoria=50"><b>Trip Advisor</b></a></p>
          <p>Rua Franja, which begins at Plaza Maria Pita and runs parallel to the port, is the main area to find drinking establishments.  Rua Galera, which is an almost continuation of this road is also a popular spot.</p>
          <p>For an 'authentic' Galician bar experience check out Bodega Priorato at Rúa Franja, 16.  Here you will find the Porron, a glass wine drinking pitcher of sorts (I don't recommend wearing a nice shirt here, you will see why).   Also, most tapas bars will provide you with a free tapa if you order a glass of wine and have many other small bites available at reasonable prices.  You will likely see legs of ham hanging from the ceiling at some of the older establishments.  Bars are open until 1am or 4am depending on the day and place.  The beer of the land is Estrella Galicia, and you will see it everywhere.</p>
        </div>
      </div>
    </div>
  </div>
</div>
