<div class="container">
  <div class="row row-centered">
    <div class="col-xs-12 col-md-9 col-centered">
      <div>
        <img src="/images/test.jpg" class="img-circle img-fluid center-block" style="height: auto; width: 100%;">
      </div>
    </div>
  </div>
</div>
