<div class="container">
  <div class="row row-centered">
    <div class="col-sm-6 col-centered">
      <div>
        <img src="/images/welcome.jpg" class="img-circle img-fluid center-block" style="height: auto; width: 100%;">
      </div>
      <br>
      <div class="text-center welcome">
        <h1>Maurice and Kim</h1>
        <h1>September 1st, 2017</h1>
      </div>
    </div>
  </div>
</div>
