<div class="text-center embed-responsive embed-responsive-4by3">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23750.440356795974!2d-8.430279483603154!3d43.361868781524585!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd2e7cfcf174574d%3A0x6a47350d095cdfee!2sA+Coru%C3%B1a%2C+Spain!5e1!3m2!1sen!2sus!4v1483892040636" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<br>
<div class="row row-centered">
  <div class="col-sm-12 col-centered">
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading panel-custom-green">
          Overview
        </div>
        <div class="panel-body">
          <p>Spain is in the Central European Time Zone (UTC+1:00).  When it is 1pm in NY it is 7pm in Spain.</p>
          <p>Shops are usually open from 9:30am until 1:30pm and 4:30pm to 8:00pm.  Traditionally they close at lunch times.  Meals are usually eaten around 9-10am, 2-3pm and 9-10pm.  Most shops are also closed on Sundays.</p>
          <p>In late August and early September La Coruña is generally around the mid to high 70’s during the day and the low 60’s at night.  Short rain showers may occur but are more unlikely during this time of year.</p>
          <p>Within the city of La Coruña there are taxi stands near the Plaza de Maria Pita and the Plaza de Ourense.  Taxis are generally white.  You can also call a taxi for pickup.</p>
          <p>Radiotaxi: +34 981 243 333</p>
          <p>Teletaxi: +34 981 287 777</p>
          <br>
          <p>Country code: +34</p>
          <p>Area Code for La Coruña: 981</p>
          <br>
          <p>Electricity: 220V/50 Hz</p>
          <p>You will need an adapter to use the electrical outlets in Spain.</p>
          <br>
          <p><b>Passports</b></p>
          <p>Check the expiration date of your passport. If it expires this year, you must renew it before you travel. The renewal process can take up to 6 weeks to complete. Visit the <a href="https://travel.state.gov/content/passports/en/passports.html">US Department of State's website</a> for more info.</p>
          <p>Note: children also require a passport.</p>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading panel-custom-green">
          Tourism Information
        </div>
        <div class="panel-body">
          <p><b>Tourism Office</b></p>
          <p>Plaza de Maria Pita, 6.</p>
          <p>Tel: +34 981 923 093</p>
          <p>Hours: Monday- Friday  9am-8:30pm</p>
          <p>Saturday: 10am-2pm, 4pm-8pm</p>
          <p>Sunday: 10am-9pm</p>
          <p>infompita@coruna.es</p>
          <br>
          <p>You can find bus maps, general transportation information and sightseeing information at this and other tourism offices.  They also provide information on the Coruña Card, which gives you deals on multiple sights and museums.</p>
          <br>
          <p>These websites provide very useful and downloadable guides to La Coruña:</p>
          <p><a href="http://www.turismocoruna.com/web/">Turismo Coruña</a></p>
          <a href="http://www.arrivalguides.com/en/Travelguides/Europe/Spain/Lacoruna">Arrival Guides</a>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading panel-custom-green">
          Emergency Information
        </div>
        <div class="panel-body">
          <p>911 in Spain is: 112 or +34 900 444 222</p>
          <p>Fire: 080</p>
          <p>Police: 091</p>
          <p>Ambulance: 061</p>
          <br>
          <p>These are three of the nearest hospitals to the old city:</p>
          <br>
          <p><a href="http://hospitalcoruna.sergas.es/Paginas/bienvenida.aspx">Centro Hospitalario Universitario A Coruna</a></p>
          <p>As Xubias, 84, 15006 A Coruña, Spain</p>
          <p>+34 981 178 007</p>
          <p>(This is the public hospital)</p>
          <br>
          <p><a href="http://hospitalcoruna.sergas.es/Paginas/bienvenida.aspx">Hospital Abente y Lago</a></p>
          <p>Paseo Parrote, s/n, 15006 A Coruña, Spain</p>
          <p>+34 981 14 28 00</p>
          <p>(This hospital is in the old city near Hesperia Finisterre Hotel)</p>
          <br>
          <p><a href="https://www.hmmodelo.com/">Hospital HM Modelo</a></p>
          <p>Rúa Virrey Osorio, 30, 15011 A Coruña, Spain</p>
          <p>+34 981 14 73 00</p>
          <p>(This Hospital is located in the modern section of the city, south of Playa Riazor)</p>
          <br>
          <p>Pharmacies are located throughout the city and marked by a green cross.</p>
        </div>
      </div>
    </div>
  </div>
</div>
