<div class="row row-centered">
  <div class="col-sm-8 col-centered">
    <img src="/images/plaza_maria_pita.jpg" alt="" class="img-fluid" style="height: auto; width: 100%;">
  </div>
</div>
<br>
<div class="row row-centered">
  <div class="col-sm-12 col-centered">
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading panel-custom-green">
          Historical Sights
        </div>
        <div class="panel-body">
          <p><b>Plaza Maria Pita</b></p>
          <p>The Maria Pita square is La Coruña's main city plaza and takes its name from the town's heroine, Maria Pita who played a critical role in reducing the losses during the English assault on the city in 1589.  The Plaza is surrounded by typical galeria style terraced buildings as well as a variety of restaurants.  There are often performances within the Plaza.  Plaza Maria Pita is a good landmark for finding your way around the old city.</p>
          <br>
          <p><a href="http://www.turismocoruna.com/web/corTurServer.php?idSecweb=245&id_secPadre=217&idInfo=104"><b>Monte San Pedro</b></a></p>
          <p>Monte San Pedro provides the best views of La Coruña and the surrounding area.  The Mirador San Pedro provides a Michelin rated restaurant experience from which to enjoy these views.</p>
          <br>
          <p><a href="http://www.torredeherculesacoruna.com/index.php?l=en"><b>Torre de Hercules</b></a></p>
          <p>The Tower of Hercules, a UNESCO world heritage site, has served as a continuously functioning lighthouse and landmark at the entrance of La Coruña harbour in north-western Spain since the late 1st century A.D. when the Romans built the Farum Brigantium.</p>
          <br>
          <p><a href="http://www.coruna.gal/cultura/es/espacios/detalle-para-entidad/museo-arqueologico-castillo-de-san-anton/entidad/1149055937727"><b>Castelo San Anton</b></a></p>
          <p>The museum sits on an old fortress constructed in the XVI century. From the XVI century to XVIII century it was a defense building and prison, later it was used as a lazaret to quarantine mariners who arived in the city with infectious diseases.  The museum houses archaeological objects such as: protohistoric silverwear, megalithism, Bronze Age, Castro Culture, romanisation and different aspects of the city.</p>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading panel-custom-green">
          Beaches &amp Sports
        </div>
        <div class="panel-body">
          <p><a href="http://www.spain.info/en_US/que-quieres/destinos-playa/playas/coruna_a/riazor.html"><b>Playa de Riazor</b></a></p>
          <p>La Coruña's most famous beach, located on the west side of the peninsula.  Beware, the water in this area of Spain is very cold despite its appearance.  The sun will be out until around 9pm at the beginning of September.</p>
          <br>
          <p><a href="http://www.stadiumguide.com/riazor/"><b>Estadio de Riazor</b></a></p>
          <p>Soccer stadium, home of Deportivo La Coruña (commonly known as Depor).  Located directly next to Riazor beach.  Soccer matches begin toward the end of August each year.  Tickets for Deportivo de La Coruña games can be bought online, by phone +34 902 43 44 43, or at the ticket windows (taquillas) of Estadio Riazor. Tickets are also available on the gate on the day of the match. Deportivo tend to have decent attendances in both the Primera and Segunda División, but rarely sell out in the latter. Ticket prices can depend on the opponent, but expect to pay between €15.00 for a lower-tier seat behind the goal and €40.00 for an upper-tier seat at the main stand.</p>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading panel-custom-green">
          Museums
        </div>
        <div class="panel-body">
          <p><a href="http://museobelasartescoruna.xunta.gal/"><b>Museo Belas Artes</b></a></p>
          <p>A modern construction that sits on the former convent Las Capuchinas. It exhibits numerous offers originating from Museo del Prado. Spanish and European art from the XVI to XX century and Galician art from the XIX and XX century. It also exhibits a wide collection of engravings from Goya and Sargadelos pottery.</p>
          <br>
          <p><a href="http://mc2coruna.org/aquarium/"><b>Aquarium Finisterre</b></a></p>
          <p>Child friendly aquarium located on the Atlantic Ocean near the Torre de Hercules.  Other child-friendly museums in La Coruña include Domus, which specializes in human anatomy and history, and the Casa de Ciencias, which is a science museum.</p>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading panel-custom-green">
          Shopping
        </div>
        <div class="panel-body">
          <p><b>Marineda City</b></p>
          <p>Huge shopping center with a variety of Spanish shops.  Also includes a movie theater, a go-kart course and a mini-golf course.  Located in the newer part of the city it can be reached by public bus or taxi.</p>
          <br>
          <p><b>Calle Real</b></p>
          <p>Calle Real is one of the oldest shopping streets in La Coruña.  It includes a wide array of stores, though tends to skew to more upscale shops in recent years.  It is located in the old city and is easily walkable from Plaza Maria Pita.</p>
          <br>
          <p><b>El Corte Ingles</b></p>
          <p>Located by the train and bus station, this shopping center is the equivalent to Spanish Macy's.</p>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading panel-custom-green">
          Out of Town
        </div>
        <div class="panel-body">
          <p><a href="http://www.catedraldesantiago.es/en"><b>Catedral de Santiago de Compostela</b></a></p>
          <p>Galicia's most famous landmark, a UNESCO World Heritage Site, approximately an hour from La Coruña by train or car.  Begun in 1075, this Romanesque and Baroque cathedral is the second most visited Catholic pilgrimage site in Europe.  In 2014 approximately 200,000 people completed the pilgrimage to this cathedral, of at the longest 500 miles, to receive their plenary indulgence.   The movie The Way with Martin Sheen is an example of this pilgrimage.  St. James the Apostle, who in theory is buried here, also happens to be the patron saint of the area, and his scallop shell symbol can be seen throughout. The nearby Parador de Santiago de Compostela serves as an extravagant final hotel stop for many tired pilgrims and is located in the same square.  The city itself is the capital of Galicia.</p>
          <br>
          <p><a href="http://www.caminomyway.com/camino-finisterre-spain-visiting-the-end-of-the-world"><b>Finisterre</b></a></p>
          <p>Finisterre was considered the end of the earth by Europeans until the travels of Christopher Columbus.  Some pilgrims continue past Santiago de Compostela to Finisterre, where they burn their shoes and clothes as a final ritual.  There is also a lighthouse located at this point.</p>
          <br>
          <p><a href="http://www.turismo.gal/presentacion-de-ourense?langId=en_US"><b>Thermal Baths of Ourense</b></a></p>
          <p>The city of Ourense is located south of La Coruña in Galicia.  It takes approximately 2 hours by car and 1.5 hours by train to reach the city.  This city is famous for its natural hot springs which flank the river of Miño as well as its ancient Roman bridges. There are various hot springs available for free use by the public.  There are also spas of varying prices, my favorite of which is Termas da Chavasqueira.  This city is generally much warmer than other areas of Galicia.</p>
          <br>
          <p><a href="http://www.riasbaixaswines.com/"><b>Rias Baixas</b></a></p>
          <p>Rias Baixas is home to 20,000 vineyards which mainly produce a specific type of white wine, Albariño.  There is the option to tour vineyards in this area as well as enjoy wines at local festivals and restaurants.  Rias Baixas is accessible by car and is about 1.5 hours south of La Coruña.</p>
          <br>
          <p><a href="http://www.spain.info/en_US/reportajes/las_divinas_islas_cies.html"><b>Islas Cies</b></a></p>
          <p>These islands, which are also nature reserves, boast some of the best beaches in the world.  They can only be reached by boat and provide very little in the way of touristic beach comforts.  There are ferries that leave for Vigo however there is a limit to the amount of people allowed on the island so you may want to book ahead.  Camping is also available.  Vigo is about 1.5 hours south of La Coruña by car or train.</p>
          <br>
          <p><a href="http://www.playadecatedrales.com/"><b>Playa de Las Catedrales</b></a></p>
          <p>Catedrales Beach is considered one of the best beaches in Galicia and is located in the area of Lugo, 1.5 hours from La Coruña by car.  Famous for its arching rock formations, you may have seen pictures of it before.</p>
          <br>
          <p><a href="http://www.turismo.gal/parque-natural-fragas-do-eume-presentacion?langId=en_US"><b>Fragas do Eume</b></a></p>
          <p>This 9,000 hectare natural park offers hiking of some of the best preserved forests in Europe as well as fishing.  It is about 45 minutes by car from La Coruña.</p>
        </div>
      </div>
    </div>
  </div>
</div>
