<div class="row row-centered">
  <div class="col-sm-12 col-centered">
    <div>
      <img src="/images/la_coruna.jpg" class="img-circle img-fluid center-block" style="height: auto; width: 100%;">
    </div>
  </div>
</div>
<br>
<div class="row row-centered">
  <div class="col-sm-12 col-centered">
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading panel-custom-green">
          Booking Information
        </div>
        <div class="panel-body">
          <p>Iberia, Vueling, and Air Europa all have connecting flights to La Coruña Airport (Also known as Culleredo Airport) from Madrid, Spain as well as Barcelona, Spain.  TAP has connecting flights from Lisbon or O Porto, Portugal to La Coruña Airport as well.  TAP flies out of Newark Airport.  Iberia is the airline of Spain and will have the simplest travel options though not always the cheapest (They also own American Airlines and British Airways).  Look to buy your tickets early and on a weekday (prices can fluctuate from $550 dollars round trip to $1300).  Another local airport option is Santiago de Compostela Airport, though this is about an hour outside the city.</p>
          <p>Flights to Spain from New York City are overnight.  If you would like to arrive on Thursday you would leave Wednesday.  Flights usually depart from JFK between 5pm and 10pm.  You can plan your arrival for Friday however due to the time difference jet lag will take its toll on you that night.</p>
          <p>If more than 10 people plan to be traveling on the same flight you can contact the airline prior to booking to inquire about group travel rates.</p>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading panel-custom-green">
          Airports
        </div>
        <div class="panel-body">
          <p><a href="http://www.aena.es/en/a-coruna-airport/index.html"><b>La Coruna Airport (LCG)</b></a></p>
          <p>The airport closest to the city and to our wedding site.  This airport, sometimes known as Culleredo Airport due to the area it is in, only has domestic flights.  It is extremely small and mainly served by Iberia, Vueling, TAP and Air Europa.  There is a bus every 30-60 minutes from La Coruña airport to the area of Plaza Maria Pita/Puerta Real (ASC Línea 4051, A Coruña (Hospital Abente y Lago) – Vilaboa – Aeropuerto).</p>
          <p>The schedule can be found <a href="http://autoscalpita.com/tarifas-horarios/asc-linea-4051-coruna-puerta-real-vilaboa-aeropuerto/">here</a>.</p>
          <p>There are also taxis available at the airport. Car rental services can also be found, including Enterprise and Avis.</p>
          <br>
          <p><a href="http://www.aena.es/en/santiago-airport/index.html"><b>Santiago de Compestela Airport (SCQ)</b></a></p>
          <p>Larger airport about an hour drive/train ride from La Coruña.  This airport is accessible by international and domestic flights though no longer has direct flights from the US.</p>
          <br>
          <p><a href="http://www.aena.es/en/madrid-barajas-airport/index.html"><b>Adolfo Suarez Madrid Barajas Airport (MAD)</b></a></p>
          <p>Madrid Airport is the main hub for connecting flights in Spain.  Be aware that when arriving at Madrid from some international airlines (such as Iberia) you will be disembarking at T4S, a satellite terminal.  Connecting domestic flights to La Coruna generally leave from T4.  There is a tram which takes you from one terminal to the next.  Once you account for the time it takes to walk down the very long terminal, go through customs and security and to the next terminal this change can take 45 minutes to an hour if you are moving at a good pace.  I recommend leaving ample time between flights as a precaution (minimum of an hour and 20 minutes I would say).</p>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading panel-custom-green">
          Train Stations
        </div>
        <div class="panel-body">
          <p><a href="http://www.spain.info/en_US/informacion-practica/transportes/estaciones-tren/coruna_a/estacion_de_a_coruna.html"><b>San Cristobal Station</b></a></p>
          <p>Located on the Avenida del Ferrocarril, this train station in La Coruna can be reached by bus or taxi.  Local trains operated by RENFE can take you to other areas of Galicia or connect you to trains to different parts of Spain and Europe.</p>
          <br>
          <p><a href="https://rail.cc/en/santiago-de-compostela/santiago-de-compostela-railway-station/l1760"><b>Santiago de Compostela Station</b></a></p>
          <p>Santiago de Compostela can provide train service to Madrid as well as other major cities of Spain and beyond.  At the moment it is a 5 hour train ride from Santiago to Madrid.  Currently the AVE (High speed train) is still under construction however will provide 3 hour trips from Santiago de Compostela to Madrid.  Tickets can be bought online from the USA using the <a href="https://www.raileurope.com/index.html">Rail Europe</a> website.</p>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading panel-custom-green">
          Buses
        </div>
        <div class="panel-body">
          <p><b>Urban Bus</b></p>
          <p>La Coruña has a public bus system though much of the old city is easily walkable. Urban public buses are red. For out of town travel there are long distance buses and a train station.</p>
          <br>
          <p><a href="http://www.spain.info/en_US/informacion-practica/transportes/estaciones-autobus/coruna_a/estacion_de_autobuses_de_a_coruna.html"><b>Long Distance Bus</b></a></p>
          <p>The long distance bus station is located at Calle Caballeros, 21, near the train station.  Tel.:+34 981184335.  Coach buses are available to various towns and cities around Galicia.  There is a bus from this station to my town of Carnoedo, generally once an hour until 9pm.  It is a 45 minute trip along a scenic Atlantic adjacent road.</p>
        </div>
      </div>
    </div>
  </div>
</div>
